.container {
    height: 100%;
    width: 100%;
    background-color: lightblue;
}
.container .block1{
    height: 25%;
    width: 100%;
    background-color:pink ;
    display: flex;
    justify-content: space-between;
}
.container .block2{
    height: 25%;
    width: 100%;
    background-color:lightgreen ;
    display: flex;
    justify-content: space-between;
}
.container .block3{
    height: 25%;
    width: 100%;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
}
.container .block4{
    height: 25%;
    width: 100%;
    background-color:violet;
    display: flex;
    justify-content: space-between;
}
.container .block1 .box1{
    height: 100%;
    width: 25%;
    background-color:orange;
    display: flex;
    justify-content: space-between;
}
.container .block1 .box2{
    height: 100%;
    width: 25%;
    background-color:crimson;
    display: flex;
    justify-content: space-between;
}
.container .block1 .box3{
    height: 100%;
    width: 25%;
    background-color:lightseagreen;
    display: flex;
    justify-content: space-between;
}
.container .block1 .box4{
    height: 100%;
    width: 25%;
    background-color:lightskyblue;
    display: flex;
    justify-content: space-between;
}
.container .block2 .box1{
    height: 100%;
    width: 70%;
    background-color:lightcoral;
    display: flex;
    justify-content: space-between;
}
.container .block3 .box1{
    height: 100%;
    width: 33%;
    background-color:skyblue;
    display: flex;
    justify-content: space-between;
}
.container .block3 .box2{
    height: 100%;
    width: 33%;
    background-color:palegreen;
    display: flex;
    justify-content: space-between;
}
.container .block3 .box3{
    height: 100%;
    width: 34%;
    background-color:pink;
    display: flex;
    justify-content: space-between;
}
.container .block4 .box1{
    height: 100%;
    width: 45%;
    background-color:lightsalmon;
    display: flex;
    justify-content: space-between;
}
